{% extends 'layout/layout.html.twig' %}

{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" href="{#{ asset('public/css/loginIntern.css') }#}" />
{% endblock %}

{% block body %}
{{dump(error)}}
{{dump(last_username)}}
<div class="container">
  <form action="{{ path('administrativosLogin_check')}}" method="post" align="center" class="form-signin">
    <h3 id="title-login" >INICIO DE SESIÓN MENTOR</h3>
    <div class="">
      <div class="">
        <input type="text" id="username" name="_numeroDocumento" value="{{last_username}}" placeholder="username">
      </div>
      <div class="">
        <input type="password" id="password" name="_password" placeholder="contraseña">
      </div>
      <input type="hidden" name="_target_path" value="homeAdministrativos" />
      <div align="center" class="">
        <div>
          <button type="submit" class="btn btn-primary">{{ 'INICIAR SESIÓN'|trans }}</button>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
