{% extends 'AdminBundle:Layout:layoutAdmin.html.twig' %}
{% block body %}
{{ parent() }}
	<div class="main container">
    {% embed "AdminBundle:Shared:navBarAdmin.html.twig" %}
    {% block tab_mentores %}active{% endblock %}
    {% endembed %}
		<div class="row well">
			<div class="col-md-6">
				<div class="page-header">
					<h2>Nuevo Grupo</h2>
				</div>
                {{ form_start(form, { 'attr' : {'novalidate': 'novalidate','role' : 'form'} }) }}
        <fieldset>
              <div class="form-group">
                  {{ form_label(form.nombre) }}
                  {{ form_widget(form.nombre, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Nombre del grupo'} }) }}
                  <span class="text-danger">{{ form_errors(form.nombre) }}</span>
              </div>

              <div class="form-group">
                  {{ form_label(form.jornada) }}
                  {{ form_widget(form.jornada, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Jornada del grupo'} }) }}
                  <span class="text-danger">{{ form_errors(form.jornada) }}</span>
              </div>

              <div class="form-group">
                  {{ form_label(form.mentor) }}
                  {{ form_widget(form.mentor, { 'attr' : {'class' : 'form-control'} }) }}
                  <span class="text-danger">{{ form_errors(form.mentor) }}</span>
              </div>

              <div class="checkbox">
    				    <label>
    						{{ form_widget(form.activo) }}Activo
    				    </label>
    				  </div>
			</fieldset>

		    <p>
		        {{ form_widget(form.save, {'label' : 'Crear Grupo', 'attr': {'class': 'btn btn-success'}}) }}
		    </p>
                {{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
