<div class="panel panel-default">
	<input type="hidden" id="idGrupo" value="{{idGrupo}}">
  <div class="panel-body">
    <div class="row" style="margin:0px;padding-right: 30px;padding-top: 20px;">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    </div>
    <div class="row" style="margin:0px">
      <div class="page-header" align="center">
        <h3>Editar Grupo</h3>
      </div>
    </div>
    <div class="row" style="margin:0px">
      {{ form_start(form, { 'attr' : {'novalidate': 'novalidate','role' : 'form','id':'form_edit_grupo'} }) }}
      <div class="form-group">
          {{ form_label(form.diplomado) }}
          {{ form_widget(form.diplomado, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Nuevo Diplomado'} }) }}
          <span class="text-danger">{{ form_errors(form.diplomado) }}</span>
      </div>
      <div class="form-group">
          {{ form_label(form.nombre) }}
          {{ form_widget(form.nombre, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Nuevo nombre'} }) }}
          <span class="text-danger">{{ form_errors(form.nombre) }}</span>
      </div>
      <div class="form-group">
          {{ form_label(form.jornada) }}
          {{ form_widget(form.jornada, {'attr': {'class': 'form-control', 'placeholder' : 'Jornada'}}) }}
          <span class="text-danger">{{ form_errors(form.jornada) }}</span>
      </div>
      <div class="form-group">
        {{ form_label(form.cupo) }}
        {{ form_widget(form.cupo, { 'attr':{'class':'form-control','placeholder' : 'Cupo del grupo'}}) }}
        <span class="text-danger">{{ form_errors(form.cupo) }}</span>
      </div>
      <div class="form-group">
        {{ form_label(form.semestre) }}
        {{ form_widget(form.semestre,{ 'attr':{'class':'form-control'}}) }}
        <span class="text-danger">{{ form_errors(form.semestre) }}</span>
      </div>
      <div class="checkbox">
        <label>
        {{ form_widget(form.activo) }}Activo
        </label>
        <span class="text-danger">{{ form_errors(form.activo) }}</span>
      </div>
      <p align="center">
          {{ form_widget(form.save, {'label' : 'Actualizar Grupo', 'attr': {'class': 'btn btn-success btn-editarGrupo'}}) }}
      </p>
      {{ form_end(form) }}
    </div>
  </div>
</div>
