{% extends 'AdminBundle:Layout:layoutAdmin.html.twig' %}
{% block body %}
{{ parent() }}
{{ include('MentoresBundle:Mentor:messages/success.html.twig' )}}
<div class="container">
{% embed "AdminBundle:Shared:navBarAdmin.html.twig" %}
{% block tab_grupos %}active{% endblock %}
{% endembed %}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row" style="margin:0px;margin-bottom:20px">
      <div class="col-md-9">
        <div class="form-group form-inline">
          <i class="glyphicon glyphicon-search"></i>
          <input type="text" name="" value="" class="form-control">
        </div>
      </div>
      <div class="col-md-3" align="right">
        <a href="{{path('addGrupos')}}" class="btn btn-default">Agregar Grupo</a>
      </div>
    </div>
    <div class="row" style="margin:0px">
      <div class="table-responsive">
         Total Grupos: {{ pagination.getTotalItemCount }}
        <table class="table table-striped table-border table-hover table-responsive ">
          <thead style="background-color:#f8f8f8">
            <tr >
              <th rowspan="2"> {{ 'Diplomado' }} </th>
							<th rowspan="2"> {{ knp_pagination_sortable(pagination, 'Nombre', 'g.nombre') }} </th>
							<th rowspan="2"> {{ 'Jornada' }} </th>
							<th rowspan="2"> {{ knp_pagination_sortable(pagination, 'Fecha De Creación', 'g.fechaCreacion') }} </th>
							<th rowspan="2"> {{ 'Mentor' }} </th>
							<th rowspan="2"> {{ knp_pagination_sortable(pagination, 'Estado', 'g.activo') }} </th>
              <th rowspan="1" colspan="3" style="text-align:center">Acciones</th>
            </tr>
            <tr>
              <th rowspan="1" style="text-align:center">Ver</th>
              <th rowspan="1" style="text-align:center">Editar</th>
              <th rowspan="1" style="text-align:center">Eliminar</th>
            </tr>
          </thead>
          <tbody >
            {% for grupo in pagination %}
            <tr id="tr" class="color-cells" data-id="{{grupo.id}}">
              <td>{{ grupo.diplomado.nombre }}</td>
              <td id="nombreGrupo" value="{{grupo.diplomado.nombre}}">{{grupo.diplomado.nombre}} {{ grupo.nombre}}</td>
              <td>{{ grupo.jornada.nombre}}</td>
	            <td>{{ grupo.fechaCreacion | date('d-m-Y') }}</td>
							<td>{{ grupo.mentor.fullName }}</td>
							 <td>
								 {% if grupo.activo == '1'%}
									<button type="button" class="btn btn-success">Activo</button>
                 {% else %}
									<button type="button" class="btn btn-default">Inactivo</button>
                 {% endif %}
 								</td>
              <td>
                <a class="btn btn-sm btn-info btnVerGrupo">Ver</a>
              </td>
              <td>
                <a href="{{ path('editGrupos', {id: grupo.id}) }}" class="btn btn-sm btn-primary">Editar</a>
              </td>
              <td>
                <a class="btn btn-sm btn-danger btnDelGrupo">Eliminar</a>
              </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="navigation">
          {{ knp_pagination_render(pagination) }}
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal visualizar grupo-->
<div class="modal fade" id="modalViewGrupo">
  <div class="modal-dialog"  style="width: 800px" role="document">
    <div class="modal-content">
      <div class="modal-body body-modal" id ="contentViewGrupo">

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{parent()}}
  <script src="{{asset('public/js/grupo.js')}}"></script>
  <script src="{{asset('public/js/bootstrap-datepicker.min.js')}}"></script>
  <script src="{{asset('public/js/bootstrap-datepicker.es.min.js')}}" charset="UTF-8"></script>
{% endblock %}
