{% extends 'AdminBundle:Layout:layoutAdmin.html.twig' %}
{% block body %}
{{ parent() }}
<div class="container">
{% embed "AdminBundle:Shared:navBarAdmin.html.twig" %}
{% block tab_grupos %}active{% endblock %}
{% endembed %}
<input type="hidden" id="mensajeGrupos" value="{{app.session.flashbag.get('mensajeGrupos')|join}}">
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row" style="margin:0px;margin-bottom:20px">
      <div class="col-md-9">
        <div class="form-group form-inline">
          <i class="glyphicon glyphicon-search"></i>
          <input type="text" id="queryBusquedaGrupo" name="" value="" class="form-control">
          <a class="btn btn-default btnMostrarGrupos" style="border-radius:20px">Mostrar todos</a>
          <a href="{{path('getPdfGrupos')}}">
            <img src="{{asset('public/images/icon-pdf.png')}}" style="height:30px; padding-left:20px" alt="">
          </a>
        </div>
      </div>

      <div class="col-md-2" align="right">
        <a class="btn btn-default btn-AddGrupo" data-toggle="modal" data-target="#modalAddGrupo">Agregar Grupo</a>
      </div>
    </div>
    <div class="row" style="margin:0px">
      <div class="table-responsive" id="tabla_grupos" data-pageCount="{{pageCount}}">
        {% if pagination | length %}
        <table id="tableItemsGrupos" class="table table-striped table-border table-hover table-responsive tablesorter" style="font-size:14px">
          <thead style="background-color:#f8f8f8">
            <tr >
              <th rowspan="2" style="font-size:14px">Diplomado</th>
							<th rowspan="2" style="font-size:14px">Nombre</th>
							<th rowspan="2" style="font-size:14px">Jornada</th>
							<th rowspan="2" style="font-size:14px">Fecha De Creación</th>
							<th rowspan="2" style="font-size:14px">Mentor</th>
              <th rowspan="2" colspan="2" style="font-size:14px">Estudiantes</th>
							<th rowspan="2" style="font-size:14px">Activo</th>
              <th rowspan="1" colspan="3" style="text-align:center; font-size:14px">Acciones</th>
            </tr>
            <tr>
              <th rowspan="1" style="text-align:center; font-size:14px">Ver</th>
              <th rowspan="1" style="text-align:center; font-size:14px">Editar</th>
              <th rowspan="1" style="text-align:center; font-size:14px">Eliminar</th>
            </tr>
          </thead>
          <tbody >
            {% for grupo in pagination %}
            <tr class="color-cells" data-id="{{grupo.id}}">

              <td>{{ grupo.diplomado.nombre }}</td>
              <td id="nombreGrupo-{{grupo.id}}" value="{{ grupo.nombre}}">{{grupo.diplomado.nombre}} {{ grupo.nombre}}</td>
              <td>{{ grupo.jornada.nombre}}</td>
	            <td>{{ grupo.fechaCreacion | date('d-m-Y') }}</td>
							<td>{{ grupo.mentor.fullName }}</td>
              {% set semillas = 0 %}
              <td align="right">
                {% for semilla_grupo in grupo.getSemillas() %}
                  {% if semilla_grupo.getActivo() %}
                    {% set semillas = semillas +1 %}
                  {% endif %}
                {% endfor %}
                {{semillas}}
              </td>
              <td align="">
                <a href="{{path('getPdfGrupoSemillas',{id:grupo.id})}}">
                  <img src="{{asset('public/images/icon-pdf.png')}}" style="height:25px" alt="">
                </a>
              </td>

							 <td align="center">
								 {% if grupo.activo == '1'%}
                 <h3 style="display:none">1</h3>
                 <span data-toggle="tooltip" data-original-title="Activo" style="color:green">
                   <i class="label label-success">Si</i>
                 </span>
                 {% else %}
                 <h3 style="display:none">0</h3>
                 <span data-toggle="tooltip" data-original-title="Inactivo" style="color:#f16565">
                   <i class="label label-danger">No</i>
                 </span>
                 {% endif %}
 								</td>
              <td align="center">
                <a class="btn btn-sm btn-info btnVerGrupo" data-toggle="modal" data-target="#modalViewGrupo">Ver</a>
              </td>
              <td align="center">
                <a class="btn btn-sm btn-primary btn-editGrupo" data-toggle="modal" data-target="#modalEditGrupo">Editar</a>
              </td>
              <td align="center">
                <a class="btn btn-sm btn-danger btnDelGrupo">Eliminar</a>
              </td>
            </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h3>No se encontraron resultados</h3>
          {% endif %}
        </div>
        <div class="" align="center">
          <ul id="paginationGrupos" class="pagination-sm"></ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal agregar grupo-->
<div class="modal fade" id="modalAddGrupo">
  <div class="modal-dialog"  style="width: 800px" role="document">
    <div class="modal-content">
      <div class="modal-body body-modal" id ="contentAddGrupo">

      </div>
    </div>
  </div>
</div>

<!--Modal editar grupo-->
<div class="modal fade" id="modalEditGrupo">
  <div class="modal-dialog"  style="width: 800px" role="document">
    <div class="modal-content">
      <div class="modal-body body-modal" id ="contentEditGrupo">

      </div>
    </div>
  </div>
</div>

<!--Modal visualizar grupo-->
<div class="modal fade" id="modalViewGrupo">
  <div class="modal-dialog"  style="width: 800px" role="document">
    <div class="modal-content">
      <div class="modal-body body-modal" id ="contentViewGrupo">

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{parent()}}
  <script src="{{asset('public/js/grupo.js')}}"></script>
  <script src="{{asset('public/js/bootstrap-datepicker.min.js')}}"></script>
  <script src="{{asset('public/js/bootstrap-datepicker.es.min.js')}}" charset="UTF-8"></script>
{% endblock %}
