<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <link rel="stylesheet" href="/public/css/bootstrap.min.css" /> -->
    <!-- <link rel="stylesheet" href="/public/css/main.css" /> -->
    <link rel="stylesheet" href="{#{ base_dir ~ asset('public/css/bootstrap.min.css') }#}">
</head>
<body>
  <div class="container">
    <div class="row page-header" align="center">
      <div class="col-md-12">
        <img alt="logoSemillero" style="height:130px; padding:10px" src="{#{base_dir ~ asset('public/images/logoSemilleroUniversitario.png')}#}">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        <p align="center"><strong>Nombre del grupo</strong></p>
        <p align="center">{{grupo.getNombre()}}</p>
      </div>
      <div class="col-xs-3">
        <p align="center"><strong>Jornada</strong></p>
        <p align="center">{{grupo.getJornada().getNombre()}}</p>
      </div>
      <div class="col-xs-3">
        <p align="center"><strong>Mentor</strong></p>
        {% if mentor is empty %}
          <p align="center">No asignado</p>
        {% else %}
          <p align="center">{{mentor.getNombre()}}</p>
        {% endif %}
      </div>
      <div class="col-xs-3">
        <p align="center"><strong>Estado grupo</strong></p>
        <p align="center">
          {% if grupo.getActivo %}
            Activo
          {% else %}
            Inactivo
          {% endif %}
        </p>
      </div>
    </div>
    {% if semillas | length %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr style="font-size:15px">
            <th style="text-align:center">Nombre</th>
            <th style="text-align:center">Apellido</th>
            <th style="text-align:center">Tipo documento</th>
            <th style="text-align:center">Numero documento</th>
            <th style="text-align:center">Dirección</th>
            <th style="text-align:center">Acudiente</th>
            <th style="text-align:center">Teléfono</th>
            <th style="text-align:center">Acudiente</th>
            <th style="text-align:center">Teléfono</th>
          </tr>
        </thead>
        {% for semilla in semillas %}
        <tr style="font-size:14px">
          <td>{{semilla.getNombre()}}</td>
          <td>{{semilla.getApellidos()}}</td>
          <td>{{semilla.getTipoDocumento().getNombre()}}</td>
          <td>{{semilla.getNumeroDocumento()}}</td>
          <td>{{semilla.getDireccion()}}</td>
          <td>{{dump(semilla.getAcudienteUno())}}</td>
          <td>{{dump("telefono 1")}}</td>
          <td>{{dump(semilla.getAcudienteDos)}}</td>
          <td>{{dump("telefono 2")}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}

  </div>
</body>
