{% extends 'layout/layout.html.twig' %}

{% block body %}
	{{ parent() }}
	<div class="container well">
	    <div class="col-md-9">
	    <h2>{{ grupo.nombre }} {{ grupo.jornada }}</h2>
	        <br>
	        <dl>
	            <dt>{{'Nombre:'}}</dt>
	            <dd>
	                {{ grupo.nombre }}
	                &nbsp;
	            </dd>
	            <br>

	            <dt>{{'Jornada:'}}</dt>
	            <dd>
	                {{ grupo.jornada }}
	                &nbsp;
	            </dd>
	            <br>

						 <dt>{{'fecha De Creacion:'}}</dt>
							<dd>
									{{ grupo.fechaCreacion|date('d-m-Y') }}
									&nbsp;
							</dd>
							<br>

							<dt>{{'Mentor:'}}</dt>
	            <dd>
	                {{ mentor.getFullName() }}
	                &nbsp;
	            </dd>
	            <br>

	            <dt>{{'Estado'}}</dt>
	            <dd>
                	{% if grupo.getActivo() == 1 %}
						<span class="text-success">ACTIVO</span>
									{% elseif grupo.getActivo() == 0 %}
						<span class="text-warning">INACTIVO</span>
                	{% endif %}
	                &nbsp;
	            </dd>
	            <br>

	        </dl>
	    </div>
	    <div class="col-md-3">
	    	<h3>{{ 'Acción a Realizar' }}:</h3>
			<p>
		    	<a href="{{ path('semillero_grupos_edit', { id: grupo.id }) }}" class="btn btn-primary btn-lg btn-block">
		    		<span class="glyphicon glyphicon-edit"></span>
		        	{{ 'Editar Grupo' }}
				 </a>
			</p>
			<p>
				    {{ include('MentoresBundle:Grupo:forms/form.html.twig', { form: delete_form, message: '¿Estas Seguro de Eliminar al Grupo?'}) }}
			</p>
	    </div>
	</div>
{% endblock %}
