{% extends 'AdminBundle:Layout:layoutAdmin.html.twig' %}
{% block body %}
{{ parent() }}
<div class="container">
{% embed "AdminBundle:Shared:navBarAdmin.html.twig" %}
{% block tab_semillas %}active{% endblock %}
{% endembed %}
<input type="hidden" id="mensajeSemilla" value="{{app.session.flashbag.get('mensajeSemilla')|join}}">
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row" style="margin:0px;margin-bottom:20px">
      <div class="col-md-9">
        <div class="form-group form-inline">
          <i class="glyphicon glyphicon-search"></i>
          <input type="text" id="queryBusquedaSemilla" name="" value="" class="form-control">
          <a class="btn btn-default btnMostrarSemillas" style="border-radius:20px">Mostrar todos</a>
          <a href="{{path('getPdfSemillas')}}">
            <img src="{{asset('public/images/icon-pdf.png')}}" style="height:30px; padding-left:20px" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3" align="right">
        <a href="{{path('addSemillas')}}" class="btn btn-default">Agregar Una Semilla</a>
      </div>
    </div>
    <div class="row" style="margin:0px">
      <div class="table-responsive" id="tabla_semillas" data-pageCount="{{pageCount}}">
        {% if pagination | length %}
        <table id="tableItemsSemillas" class="table table-striped table-border table-hover table-responsive tablesorter" style="font-size:14px">
          <thead style="background-color:#f8f8f8">
            <tr >
              <th rowspan="2" style="font-size:14px"> Nombre</th>
              <th rowspan="2" style="font-size:14px"> Apellidos</th>
              <th rowspan="2" style="font-size:14px"> {{ 'Tipo De Documento' }} </th>
              <th rowspan="2" style="font-size:14px"> Número De Documento</th>
              <th rowspan="2" style="font-size:14px"> Fecha De Nacimiento</th>
              <th rowspan="2" style="font-size:14px"> Número Celular</th>
              <th rowspan="2" style="font-size:14px"> {{ 'Grupo' }} </th>
              <th rowspan="2" style="text-align:center;font-size:14px"> FaceBook</th>
              <th rowspan="1" colspan="5" style="text-align:center;font-size:14px">Acciones</th>
            </tr>
            <tr>
              <th rowspan="1" style="text-align:center;font-size:14px">Historial grupos</th>
              <th rowspan="1" style="text-align:center;font-size:14px">Asignar grupo</th>
              <th rowspan="1" style="text-align:center;font-size:14px">Ver</th>
              <th rowspan="1" style="text-align:center;font-size:14px">Editar</th>
              <th rowspan="1" style="text-align:center;font-size:14px">Eliminar</th>
            </tr>
          </thead>
          <tbody >
            {% for semilla in pagination %}
            <tr class="color-cells" data-id="{{semilla.id}}">
              <td>{{ semilla.nombre}}</td>
              <td>{{ semilla.apellidos}}</td>
              <td>{{ semilla.tipoDocumento.nombre }}
              <td id="dniSemilla-{{semilla.id}}" value="{{semilla.numeroDocumento}}">{{ semilla.numeroDocumento}}</td>
              <td>{{ semilla.fechaNacimiento | date('d-m-Y') }}</td>
              <td>{{ semilla.numeroCelular}}</td>
              <td>
                {% if semilla.getGrupos() | length %}
                  {% for grupo in semilla.getGrupos() %}
                    {% if grupo.getActivo() %}
                      {{grupo.getGrupo().getNombre()}}
                    {% endif %}
                  {% endfor %}
                {% else %}
                  No asignado
                {% endif %}
              </td>
              <td align="center">
                {% if semilla.isFacebook %}
                <span id="tooltipActivo" data-toggle="tooltip" data-original-title="Si" style="color:green">
                  <i class="label label-success">Si</i>
                </span>
                {% else %}
                <span data-toggle="tooltip" data-original-title="No" style="color:#f16565">
                  <i class="label label-danger">No</i>
                </span>
                {% endif %}
              </td>
              <td>
                <span>
                  <a href="#">
                    <span>
                      <i></i>
                    </span>
                  </a>
                </span>
              </td>
              <td align="center">
                <span data-toggle="tooltip" data-original-title="Asignar grupo">
                  <a class="btn btn-sm btn-warning btnAsignarGrupo " data-toggle="modal" data-target="#modalAsignarGrupo">
                    <span>
                        <img style="height:14px; width:14px" src="{{asset('public/images/ic_group_add.png')}}" alt="">
                    </span>
                  </a>
                </span>
              </td>
              <td>
                <a class="btn btn-sm btn-info btnVerSemilla" data-toggle="modal" data-target="#modalViewSemilla">Ver</a>
              </td>
              <td>
                <a href="{{ path('editSemillas', {numeroDocumento: semilla.numeroDocumento}) }}" class="btn btn-sm btn-primary">Editar</a>
              </td>
              <td>
                <a class="btn btn-sm btn-danger btnDelSemilla">Eliminar</a>
              </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <h3>No se encontraron resultados</h3>
        {% endif %}
        </div>
        <div class="" align="center">
          <ul id="paginationSemillas" class="pagination-sm"></ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal visualizar Semilla -->
<div class="modal fade" id="modalViewSemilla">
  <div class="modal-dialog"  style="width: 800px" role="document">
    <div class="modal-content">
      <div class="modal-body body-modal" id ="contentViewSemilla">

      </div>
    </div>
  </div>
</div>

<!--Modal asignar grupo-->
<div class="modal fade" id="modalAsignarGrupo">
  <div class="modal-dialog" style="width: 800px" role="document">
    <div class="modal-content">
      <div class="modal-body body-modal" id="contentAsignarGrupo">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{parent()}}
  <script src="{{asset('public/js/semilla.js')}}"></script>
  <script src="{{asset('public/js/bootstrap-datepicker.min.js')}}"></script>
  <script src="{{asset('public/js/bootstrap-datepicker.es.min.js')}}" charset="UTF-8"></script>
{% endblock %}
