
<div class="panel panel-default">
	<div class="panel-body" style="padding:0px">
		<div class="row" style="margin:0px;padding-right: 30px;padding-top: 20px;">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
		</div>
		<div class="row" style="margin:0px">
			<div class="" align="center">
				<h2 style="margin-top:10px">{{ semilla.nombre }} {{ semilla.apellidos }}</h2>
			</div>

			<div class="col-md-4 col-xs-12">
				<div class="form-group" >
					<dl>
						<!--<dt>Foto:</dt>-->
						<dd align="center">
							<div class="" align="center" style="background: grey; height: 150px; width: 40%;">
								imagen
							</div>
						</dd>
						<br>
						<dt>Nombres:</dt>
						<dd>{{semilla.nombre}}</dd>
						<br>
						<dt>Apellidos:</dt>
						<dd>{{semilla.apellidos}}</dd>
						<br>
						<dt>Tipo de documento:</dt>
						<dd>{{semilla.tipoDocumento.nombre}}</dd>
						<br>
						<dt>Numero de documento:</dt>
						<dd>{{semilla.numeroDocumento}}</dd>
					</dl>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="form-group">
					<dl>
						<dt>Fecha de nacimiento:</dt>
						<dd>{{semilla.fechaNacimiento|date('d/m/Y')}}</dd>
						<br>
						<dt>Dirección:</dt>
						<dd>{{semilla.direccion}}</dd>
						<br>
						<dt>Municipio:</dt>
						<dd>{{semilla.municipio}} - {{semilla.departamento}}</dd>
						<br>
						<dt>Correo electrónico:</dt>
						<dd>{{semilla.email}}</dd>
						<br>
						<dt>Número de celular:</dt>
						<dd>{{semilla.numeroCelular}}</dd>
						<br>
						<dt>Posee WhastApp:</dt>
						<dd>
							{% if semilla.getIsWhatsapp() == 1 %}
							<span class="text-success">Si</span>
							{% elseif semilla.getIsWhatsapp() == 0 %}
							<span class="text-warning">No</span>
							{% endif %}
						</dd>
						<br>
						<dt>Número de teléfono:</dt>
						<dd>{{semilla.numeroTelefono}}</dd>
					</dl>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="form-group">
					<dl>
						<dt>Eps:</dt>
						<dd>{{semilla.eps}}</dd>
						<br>
						<dt>Tipo de sangre:</dt>
						<dd>{{semilla.tipoSangre}}</dd>
						<br>
						<dt>Posee Facebook:</dt>
						<dd>
							{% if semilla.getIsFacebook() == 1 %}
							<span class="text-success">Si</span>
							{% elseif semilla.getIsFacebook() == 0 %}
							<span class="text-warning">No</span>
							{% endif %}
						</dd>
						<br>
						<dt>FaceBook:</dt>
						<dd>{{semilla.emailFacebook}}</dd>
						<br>
						<dt>Grado Escolar:</dt>
						<dd>{{semilla.gradoEscolarActual}}</dd>
						<br>
						<dt>Institucion Educativa:</dt>
						<dd>{{semilla.colegio}}</dd>
						<br>
						<dt>Enfermedades:</dt>
						<dd>{{semilla.enfermedades}}</dd>
						<br>
					</dl>
				</div>
			</div>
		</div>

		<div class="row" style="margin:0px">
			<div class="" align="center">
				<h2 style="margin-top:10px">Acudientes</h2>
			</div>
			<div class="col-md-4">
				<div class="form-group" >
					<dl>
						<dt>Nombres Acudiene 1:</dt>
						<dd>{{semilla.acudienteUno}}</dd>
						<br>
						<dt>Número de Telefono:</dt>
						<dd>{{semilla.telefonoAcudienteUno}}</dd>
						<br>
						<dt>direccion:</dt>
						<dd>{{semilla.direccionAcudienteUno}}</dd>
					</dl>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<dl>
						<dt>Nombres Acudiene 2:</dt>
						<dd>{{semilla.acudienteDos}}</dd>
						<br>
						<dt>Número de Telefono:</dt>
						<dd>{{semilla.telefonoAcudienteDos}}</dd>
						<br>
						<dt>direccion:</dt>
						<dd>{{semilla.direccionAcudienteDos}}</dd>
					</dl>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<dl>
						<h4><dt>Observaciones:</dt></h4>
						<dd>{{semilla.observaciones}}</dd>
						<br>
						<h4><dt>Grupo:</dt></h4>
						<dd>{{grupo.getNombre()}}</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>
