<div class="panel panel-default">
  <div class="panel-body">
    <div class="row" style="margin:0px;padding-right: 30px;padding-top: 20px;">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    </div>
    <div class="row" style="margin:0px">
      <div class="page-header" align="center">
        <h3>Agregar diplomado</h3>
      </div>
    </div>
    <div class="row" style="margin:0px">
      {{ form_start(form, { 'attr' : {'novalidate': 'novalidate','role' : 'form','id':'form_add_Diplomado'} }) }}
        <div class="form-group">
          {{ form_label(form.nombre) }}
          {{ form_widget(form.nombre, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Nombre del diplomado'} }) }}
          <span class="text-danger">{{ form_errors(form.nombre) }}</span>
        </div>
        <div class="checkbox">
          <label>
          {{ form_widget(form.activo) }}Activo
          </label>
        </div>
        <p align="center">
            {{ form_widget(form.save, {'label' : 'Agregar diplomado', 'attr': {'class': 'btn btn-success btn-crearDiplomado'}}) }}
        </p>
      {{ form_end(form) }}
    </div>
  </div>
</div>
