{% extends 'AdminBundle:Layout:layoutAdmin.html.twig' %}
{% block body %}
{{ parent() }}
{{ include('DiplomadosBundle:Diplomado:messages/success.html.twig' )}}
	<div class="main container">
    {% embed "AdminBundle:Shared:navBarAdmin.html.twig" %}
    {% block tab_mentores %}active{% endblock %}
    {% endembed %}

		<div class="row well">
			<div class="col-md-6">
				<div class="page-header">
					<h2>Editando Diplomado</h2>
				</div>
                {{ form_start(form, { 'attr' : {'novalidate': 'novalidate','role' : 'form'} }) }}
                <h4 class="text-danger">{{form_errors(form) }} </h4>
                <fieldset>
          <div class="form-group">
              {{ form_label(form.nombre) }}
              {{ form_widget(form.nombre, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Nuevo nombre'} }) }}
              <span class="text-danger">{{ form_errors(form.nombre) }}</span>
          </div>

          <div class="checkbox">
				    <label>
						{{ form_widget(form.activo) }}Activo
						<span class="text-danger">{{ form_errors(form.activo) }}</span>
				    </label>
				  </div>
			</fieldset>

		    <p>
		        {{ form_widget(form.save, {'label' : 'Actualizar Diplomado', 'attr': {'class': 'btn btn-success'}}) }}
		    </p>
                {{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
