{% extends 'AdminBundle:Layout:layoutAdmin.html.twig' %}
{% block body %}
{{parent()}}
<div class="container" style="margin-top:20px">
  <div class="panel panel-default">
    <div class="" style="margin-left:200px; margin-right:200px">
      <div class="panel-header" style="padding:15px; padding-bottom:0px" align="center">
        <div class="" style="width:100%; display:table; height:50px; background-color:#f5f5f5">
          <div class="" style="display:table-cell; vertical-align:middle">
            Gestión de actividades - Grupo: {{grupo.getNombre()}}
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="">
          <p align="center">* Seleccione un segmento para listar las actividades</p>
          <div class="row" style="margin:0px auto" align="center">
            <div class="form-group form-inline">
              <select id="segmentosGrupo" class="form-control" style="width:70px">
                {% for segmento in segmentos %}
                <option value="{{segmento.getId()}}">{{segmento.getNumeroSegmento()}}</option>
                {% endfor %}
              </select>
              <a class="btn btn-default btnListarActividades">Listar</a>
            </div>
          </div>
        </div>
        <div class="bodyListaActividades" style="display:none; height:270px; overflow-y:auto">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
{{parent()}}
<script src="{{asset('public/js/usuarios_actividades.js')}}"></script>
{% endblock %}
