{% extends 'layout/layout.html.twig' %}

{% block body %}

	{{ parent() }}
  {{ include('MentoresBundle:Mentor:messages/success.html.twig' )}}
	<div class="container">
		<div class="col-md-12">
			<div class="page-header margin-none">
				<h2 class="padding-none">Mentores</h2>
			</div>
			<div class="table-responsive">
			Total Mentores: {{ pagination.getTotalItemCount }}
				<table class="table table-striped table-hover">
					<thead>
						<tr>
								<th> {{ knp_pagination_sortable(pagination, 'Nombres', 'm.nombres') }} </th>
								<th> {{ knp_pagination_sortable(pagination, 'Apellidos', 'm.apellidos') }} </th>
								<th> {{ knp_pagination_sortable(pagination, 'Tipo De Documento', 'm.tipoDocumentoIdentidad') }} </th>
								<th> {{ 'Número De Documento' }} </th>
								<th> {{ knp_pagination_sortable(pagination, 'Fecha De Nacimiento', 'm.fechaNacimiento') }} </th>
								<th> {{ knp_pagination_sortable(pagination, 'Número Celular', 'm.numeroMovil') }} </th>
								<th> {{ knp_pagination_sortable(pagination, 'Tipo De Mentor', 'm.tipoMentor') }} </th>
								<th> {{ knp_pagination_sortable(pagination, 'Estado', 'm.activo') }} </th>
								<th>Acción</th>
						</tr>
					</thead>
					<tbody>
            {% for mentor in pagination %}
              <tr>
                <td>{{ mentor.nombres}}</td>
                <td>{{ mentor.apellidos}}</td>
								<td>{{ mentor.tipoDocumentoIdentidad.nombre }}
								<td>{{ mentor.numeroDocumento}}</td>
		            <td>{{ mentor.fechaNacimiento | date('d-m-Y') }}</td>
								<td>{{ mentor.numeroMovil}}</td>
								<td>{{ mentor.tipoMentor}}</td>
								<td>
                  {% if mentor.activo == '1'%}
									<button type="button" class="btn btn-success">Activo</button>
                  {% else %}
									<button type="button" class="btn btn-default">Inactivo</button>
                  {% endif %}
                </td>

                <td class="actions">
                  <a href="{{ path('semillero_mentores_view', {numeroDocumento: mentor.numeroDocumento}) }}" class="btn btn-sm btn-info">Ver</a>

                  <a href="{{ path('semillero_mentores_edit', {numeroDocumento: mentor.numeroDocumento}) }}" class="btn btn-sm btn-primary">Editar</a>

                  {# <a href="#" class="btn btn-sm btn-danger btn-delete">Eliminar</a>  #}
                </td>
               </tr>
				        {% endfor %}
					</tbody>
				</table>
				{# display navigation #}
				<div class="navigation">
						{{ knp_pagination_render(pagination) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
