{% extends 'AdminBundle:Layout:layoutAdmin.html.twig' %}
{% block body %}
{{ parent() }}
<div class="container">
{% embed "AdminBundle:Shared:navBarAdmin.html.twig" %}
{% block tab_mentores %}active{% endblock %}
{% endembed %}
<input type="hidden" id="mensajeMentor" value="{{app.session.flashbag.get('mensajeMentor')|join}}">
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row" style="margin:0px;margin-bottom:20px">
      <div class="col-md-9">
        <div class="form-group form-inline">
          <i class="glyphicon glyphicon-search"></i>
          <input type="text" id="queryBusquedaMentor" name="" value="" class="form-control">
          <a class="btn btn-default btnMostrarMentores" style="border-radius:20px">Mostrar todos</a>
        </div>
      </div>
      <div class="col-md-3" align="right">
        <a href="{{path('addMentores')}}" class="btn btn-default">Agregar mentor</a>
      </div>
    </div>
    <div class="row" style="margin:0px">
      <div class="table-responsive" id="tabla_mentores" data-pageCount="{{pageCount}}">
        {% if pagination | length %}
        <table id="tableItemsMentores" class="table table-striped table-border table-hover table-responsive tablesorter" style="font-size:14px">
          <thead style="background-color:#f8f8f8">
            <tr >
              <th rowspan="2" style="font-size:14px"> Nombre</th>
              <th rowspan="2" style="font-size:14px"> Apellidos</th>
              <th rowspan="2" style="font-size:14px"> {{ 'Tipo De Documento' }} </th>
              <th rowspan="2" style="font-size:14px"> Número De Documento</th>
              <th rowspan="2" style="font-size:14px"> Fecha De Nacimiento</th>
              <th rowspan="2" style="font-size:14px"> Número Celular</th>
              <th rowspan="2" style="font-size:14px"> {{ 'Tipo De Mentor' }} </th>
              <th rowspan="2" style="text-align:center;font-size:14px">Estado</th>
              <th rowspan="1" colspan="3" style="text-align:center;font-size:14px">Acciones</th>
            </tr>
            <tr>
              <th rowspan="1" style="text-align:center;font-size:14px">Ver</th>
              <th rowspan="1" style="text-align:center;font-size:14px">Editar</th>
              <th rowspan="1" style="text-align:center;font-size:14px">Eliminar</th>
            </tr>
          </thead>
          <tbody >
            {% for mentor in pagination %}
            <tr class="color-cells" data-id="{{mentor.id}}">
              <td>{{ mentor.nombre}}</td>
              <td>{{ mentor.apellidos}}</td>
              <td>{{ mentor.tipoDocumento.nombre }}
                <td id="dniMentor-{{mentor.id}}" value="{{mentor.numeroDocumento}}">{{ mentor.numeroDocumento}}</td>
                <td>{{ mentor.fechaNacimiento | date('d-m-Y') }}</td>
                <td>{{ mentor.numeroCelular}}</td>
                <td>{{ mentor.tipoMentor.nombre}}</td>
                <td align="center">
                  {% if mentor.activo == '1'%}
                    <span data-toggle="tooltip" data-original-title="Activo" style="color:green">
                      <i class="glyphicon glyphicon-ok-circle"></i>
                    </span>
                  {% else %}
                    <span data-toggle="tooltip" data-original-title="Inactivo" style="color:red">
                      <i class="glyphicon glyphicon-ban-circle"></i>
                    </span>
                  {% endif %}
                </td>
                <td align="center">
                  <a class="btn btn-sm btn-info btnVerMentor" data-toggle="modal" data-target="#modalViewMentor">Ver</a>
                </td>
                <td align="center">
                  <a href="{{ path('editMentores', {numeroDocumento: mentor.numeroDocumento}) }}" class="btn btn-sm btn-primary">Editar</a>
                </td>
                <td align="center">
                  <a class="btn btn-sm btn-danger btnDelMentor">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h3>No se encontraron resultados</h3>
          {% endif %}
        </div>
        <div class="" align="center">
          <ul id="paginationMentores" class="pagination-sm"></ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal visualizar mentor-->
<div class="modal fade" id="modalViewMentor">
  <div class="modal-dialog"  style="width: 800px" role="document">
    <div class="modal-content">
      <div class="modal-body body-modal" id ="contentViewMentor">

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
{{parent()}}
<script src="{{asset('public/js/jquery.tablesorter.js')}}"></script>
<script src="{{asset('public/js/mentor.js')}}"></script>
<script src="{{asset('public/js/bootstrap-datepicker.min.js')}}"></script>
<script src="{{asset('public/js/bootstrap-datepicker.es.min.js')}}" charset="UTF-8"></script>
<script src="{{asset('public/js/jquery.twbsPagination.min.js')}}"></script>
{% endblock %}
