{% extends 'AdminBundle:Layout:layoutAdmin.html.twig' %}
{% block body %}
{{ parent() }}
{{ include('MentoresBundle:Mentor:messages/success.html.twig' )}}
<div class="container">
{% embed "AdminBundle:Shared:navBarAdmin.html.twig" %}
{% block tab_mentores %}active{% endblock %}
{% endembed %}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row" style="margin:0px;margin-bottom:20px">
      <div class="col-md-9">
        <div class="form-group form-inline">
          <i class="glyphicon glyphicon-search"></i>
          <input type="text" name="" value="" class="form-control">
        </div>
      </div>
      <div class="col-md-3" align="right">
        <a href="{{path('addMentores')}}" class="btn btn-default">Agregar mentor</a>
      </div>
    </div>
    <div class="row" style="margin:0px">
      <div class="table-responsive">
        <!-- Total Mentores: {#{ pagination.getTotalItemCount }#} -->
        <table class="table table-striped table-border table-hover table-responsive ">
          <thead style="background-color:#f8f8f8">
            <tr >
              <th rowspan="2" > {{ knp_pagination_sortable(pagination, 'Nombre', 'm.nombre') }} </th>
              <th rowspan="2" > {{ knp_pagination_sortable(pagination, 'Apellidos', 'm.apellidos') }} </th>
              <th rowspan="2" > {{ 'Tipo De Documento' }} </th>
              <th rowspan="2" > {{ knp_pagination_sortable(pagination, 'Número De Documento', 'm.numeroDocumento') }} </th>
              <th rowspan="2" > {{ knp_pagination_sortable(pagination, 'Fecha De Nacimiento', 'm.fechaNacimiento') }} </th>
              <th rowspan="2" > {{ knp_pagination_sortable(pagination, 'Número Celular', 'm.numeroCelular') }} </th>
              <th rowspan="2" > {{ 'Tipo De Mentor' }} </th>
              <th rowspan="2" style="text-align:center"> {{ knp_pagination_sortable(pagination, 'Estado', 'm.activo') }} </th>
              <th rowspan="1" colspan="3" style="text-align:center">Acciones</th>
            </tr>
            <tr>
              <th rowspan="1" style="text-align:center">Ver</th>
              <th rowspan="1" style="text-align:center">Editar</th>
              <th rowspan="1" style="text-align:center">Eliminar</th>
            </tr>
          </thead>
          <tbody >
            {% for mentor in pagination %}
            <tr class="color-cells" data-id="{{mentor.id}}">
              <td>{{ mentor.nombre}}</td>
              <td>{{ mentor.apellidos}}</td>
              <td>{{ mentor.tipoDocumento.nombre }}
              <td id="dniMentor" value="{{mentor.numeroDocumento}}">{{ mentor.numeroDocumento}}</td>
              <td>{{ mentor.fechaNacimiento | date('d-m-Y') }}</td>
              <td>{{ mentor.numeroCelular}}</td>
              <td>{{ mentor.tipoMentor.nombre}}</td>
              <td align="center">
                {% if mentor.activo == '1'%}
                <button type="button" class="btn btn-success">Activo</button>
                {% else %}
                <button type="button" class="btn btn-default">Inactivo</button>
                {% endif %}
              </td>
              <td align="center">
                <a class="btn btn-sm btn-info btnVerMentor">Ver</a>
              </td>
              <td align="center">
                <a href="{{ path('editMentores', {numeroDocumento: mentor.numeroDocumento}) }}" class="btn btn-sm btn-primary">Editar</a>
              </td>
              <td align="center">
                <a class="btn btn-sm btn-danger btnDelMentor">Eliminar</a>
              </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="navigation">
          {{ knp_pagination_render(pagination) }}
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal visualizar mentor-->
<div class="modal fade" id="modalViewMentor">
  <div class="modal-dialog"  style="width: 800px" role="document">
    <div class="modal-content">
      <div class="modal-body body-modal" id ="contentViewMentor">

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{parent()}}
  <script src="{{asset('public/js/mentor.js')}}"></script>
  <script src="{{asset('public/js/bootstrap-datepicker.min.js')}}"></script>
  <script src="{{asset('public/js/bootstrap-datepicker.es.min.js')}}" charset="UTF-8"></script>
{% endblock %}
