
<div class="panel panel-default">
	<div class="panel-body" style="padding:0px">
		<div class="row" style="margin:0px;padding-right: 30px;padding-top: 20px;">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
		</div>
		<div class="row" style="margin:0px">
			<div class="col-md-4 col-xs-12">
				<dd align="center">
					<div align="center" style="height: 160px;margin-bottom: 20px;">
						{% if mentor.getUrlImage() %}
						{% set url = mentor.getUrlImage() %}
						{% else %}
						{% set url = 'public/images/image-profile.png' %}
						{% endif %}
						<img class="image_profile" src="{{asset(url)}}" style="width:100%;height:100%" alt="image-profile.png">
					</div>
				</dd>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<dl>
						<dt style="background-color: #e7e7e7; margin-top:5px">Nombres:</dt>
						<dd>{{mentor.nombre}}</dd>
						<dt style="background-color: #e7e7e7; margin-top:5px">Apellidos:</dt>
						<dd>{{mentor.apellidos}}</dd>
						<dt style="background-color: #e7e7e7; margin-top:5px">Tipo de documento:</dt>
						<dd>{{mentor.tipoDocumento.nombre}}</dd>
						<dt style="background-color: #e7e7e7; margin-top:5px">Numero de documento:</dt>
						<dd>{{mentor.numeroDocumento}}</dd>
						<dt style="background-color: #e7e7e7; margin-top:5px">Fecha de nacimiento:</dt>
						<dd>{{mentor.fechaNacimiento|date('d/m/Y')}}</dd>
						<dt style="background-color: #e7e7e7; margin-top:5px">Dirección:</dt>
						<dd>{{mentor.direccion}}</dd>
						<dt style="background-color: #e7e7e7; margin-top:5px">Municipio:</dt>
						<dd>{{mentor.municipio}}</dd>
						<dt style="background-color: #e7e7e7; margin-top:5px">Departamento:</dt>
						<dd>{{mentor.departamento}}</dd>
					</dl>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<dl>
						<dt style="background-color: #e7e7e7; margin-top:5px">Correo electrónico:</dt>
						<dd>{{mentor.email}}</dd>
						<dt style="background-color: #e7e7e7; margin-top:5px">Número de celular:</dt>
						<dd>{{mentor.numeroCelular}}</dd>
						<dt style="background-color: #e7e7e7; margin-top:5px">Número de teléfono:</dt>
						<dd>{{mentor.numeroTelefono}}</dd>
						<dt style="background-color: #e7e7e7; margin-top:5px">Eps:</dt>
						<dd>{{mentor.eps}}</dd>
						<dt style="background-color: #e7e7e7; margin-top:5px">Tipo de sangre:</dt>
						<dd>{{mentor.tipoSangre}}</dd>
						<dt style="background-color: #e7e7e7; margin-top:5px">Tipo de mentor:</dt>
						<dd>{{mentor.tipoMentor.nombre}}</dd>
						<dt style="background-color: #e7e7e7; margin-top:5px">Activo:</dt>
						<dd>
							{% if mentor.getActivo() == 1 %}
							<span class="text-success">Si</span>
							{% elseif mentor.getActivo() == 0 %}
							<span class="text-warning">No</span>
							{% endif %}
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>
