<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% block stylesheets %}
      <link rel="stylesheet" href="{{asset('public/css/bootstrap.min.css')}}"/>
      <link rel="stylesheet" href="{{ asset('public/css/style.css') }}" />
    {% endblock %}
  </head>
  <body>
    {% block body %}
     {{ include('menus/menu.html.twig') }}
    {% endblock %}

    {% block javascript %}
      <script src="{{asset('public/js/jquery-3.2.1.min.js')}}"></script>
      <script src="{{asset('public/js/bootstrap.min.js')}}"></script>
    {% endblock %}

  </body>
</html>
