{% extends 'AdminBundle:Layout:layoutAdmin.html.twig' %}
{% block body %}
{{ parent() }}
<div class="container" style="margin-top:20px">
  <div class="panel panel-default">
    <div class="panelAdministracionUsuarios">
      <div class="panel-header" style="padding:15px; padding-bottom:0px" align="center">
        <div class="" style="width:100%; display:table; height:50px; background-color:#f5f5f5">
          <div class="" style="display:table-cell; vertical-align:middle">
            Grupos activos
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="" >
          <div class="" style="background-color:#f5f5f5;height:300px; overflow-y:scroll">
            {% for grupo in gruposActivos %}
            <div id="idGrupo" data-id="{{grupo.getId()}}" class="row" style="margin:0px auto; border: 1px solid #ddd;border-radius: 2px; padding: 5px">
              <div class="col-md-10 col-xs-8" align="center">
                <span>{{grupo.getNombre()}}</span>
              </div>
              <div class="col-md-1 col-xs-2" data-toggle="tooltip" data-original-title="Detalle" align="center" style="cursor:pointer">
                <a class="btnDetalleGrupo" data-toggle="modal" data-target="#modalDetalleGrupo">
                  <span>
                    <i class="glyphicon glyphicon-list"></i>
                  </span>
                </a>
              </div>
              <div class="col-md-1 col-xs-2" data-toggle="tooltip" data-original-title="Semillas" align="center" style="cursor:pointer">
                <!-- <a class="btnGetSemillas" href="{#{path('getPdfGrupoSemillas',{id:grupo.id})}#}"> -->
                <a class="btnGetSemillas" href="{{path('getPdfGrupoSemillasPrueba',{id:grupo.id})}}">
                  <span>
                    <i class="glyphicon glyphicon-user"></i>
                  </span>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </div>

  <!--Modal ver detalle de grupo-->
  <div class="modal fade" id="modalDetalleGrupo">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body body-modal" id ="contentDetalleGrupo">

        </div>
      </div>
    </div>
  </div>

</div>
{#{include('/shared/footerUsuarios.html.twig')}#}
{% endblock %}
{% block javascript %}
{{parent()}}
<script src="{{asset('public/js/usuarios_grupos.js')}}"></script>
{% endblock %}
