<nav class="navbar navbar-default">
  <div class="container-fluid" style="padding:0px">
    <div class="collapse navbar-collapse" style="padding:0px">
      <ul class="nav navbar-nav">
         <li class="{% block tab_mentores %}{% endblock %}">

           <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Mentores
             </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <a class="dropdown-item" href="{{ path('indexMentores') }}">Ver Lista De Mentores</a>
               <a class="dropdown-item" href="{{ path('addMentores') }}">Agregar Mentor</a>
             </div>
           </li>

           <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Diplomados </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <div> <a class="dropdown-item" href="{{ path('indexDiplomados') }}">Ver Diplomados</a> </div>
               <a class="dropdown-item" href="{{ path('addDiplomados') }}">Agregar Diplomados</a>
             </div>
           </li>

           <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Grupos </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <div> <a class="dropdown-item" href="{{ path('indexGrupos') }}">Ver Grupos</a> </div>
               <a class="dropdown-item" href="{{ path('addGrupos') }}">Agregar Grupo</a>
             </div>
           </li>

         </li>
      </ul>
    </div>
  </div>
</nav>
