{% extends 'AdminBundle:Layout:layoutAdmin.html.twig' %}

{% block body %}
{{parent()}}
<div class="container">
    {% embed "UsuariosBundle:Shared:navBarSemillas.html.twig" %}
    {% block tab_gestion %}active{% endblock %}
    {% endembed %}
</div>
<div class="container" style="margin-top:20px">
  <div class="panel panel-default">
    <div class="panelAdministracionUsuarios">
      <div class="panel-header" style="padding:15px; padding-bottom:0px" align="center">
        <div class="" style="width:100%; text-align:center; display:table; height:50px; background-color:#f5f5f5">
          <div class="" style="display:table-cell; vertical-align: middle">
            Gestión academica
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row" style="margin:0px auto; margin:0px;background-color: #f5f5f5" align="center">
          <div class="row" style="margin:0px; width:80%">
            <label for="">Grupo : </label>
            {% if grupo is not empty %}
            <input id="titulo_grupo" type="text" name="" value="{{grupo.getNombre()}}" style="padding-left:10px;width:90%" readonly>
            {% endif %}
          </div>
        </div>
        <div class="row" style="margin:0px; auto; margin-top:20px">
          <div class="table-responsive" id="tabla_actividades" data-pagecount="{{pageCount}}">
            <table class="table table-responsive">
              <thead>
                <tr style="background-color: #e6e6e6;">
                  <th style="text-align:center;border: 1px solid #d3d3d3;width:50px">Encuentro</th>
                  <th style="text-align:center;border: 1px solid #d3d3d3;width:120px">Fecha</th>
                  <th style="text-align:center;border: 1px solid #d3d3d3;">Actividad</th>
                  <th style="text-align:center;border: 1px solid #d3d3d3;width:60px">Nota</th>
                  <th style="text-align:center;border: 1px solid #d3d3d3;width:60px">Detalle</th>
                </tr>
              </thead>
              <tbody>
                {% if actividades | length %}
                {% for actividad in actividades %}
                <tr>
                  <td>{{actividad.getEncuentro().getNumeroEncuentro()}}</td>
                  <td>{{actividad.getEncuentro().getFechaRealizacion()|date('Y-m-d')}}</td>

                  <td>{{actividad.getNombre()}} /
                    {% if actividad.getDescripcion() | length > 25%}
                    {{actividad.getDescripcion()}}...
                    {% else %}
                    {{actividad.getDescripcion()}}
                    {% endif %}
                  </td>
                  <td align="center">
                    {{render(controller('ServicesBundle:Service:getNotaActividadSemilla',{idSemilla: app.user.getId(), idActividad: actividad.getId()}))}}
                  </td>
                  <td style="text-align:center">
                    <span data-toggle="tooltip" data-original-title="Detalles">
                      <a data-id="{{actividad.getId()}}" data-toggle="modal" data-target="#modalDetalleActividad" class="btn btn-default btnDetalleActividad" style="border-radius: 10px">
                        <span>
                          <i style="color:#337ab7" class="glyphicon glyphicon-eye-open"></i>
                        </span>
                      </a>
                    </span>
                  </td>
                </tr>
                {% endfor %}
                {% endif %}
                <tr>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="" align="center">
            <ul id="paginationGestionAcademica" class="pagination-sm"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal detalle actividad-->
<div class="modal fade" id="modalDetalleActividad">
  <div class="modal-dialog"  role="document">
    <div class="modal-content">
      <div class="modal-body body-modal" id ="contentDetalleActividad">
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
{{parent()}}
<script src="{{asset('public/js/usuarios_semillas.js')}}"></script>
{% endblock %}
